.mechanic-appointment-section .container{
    justify-content: center;
}

.mechanic-appointment-section .card{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mechanic-appointment-section .appointment-title{
    margin: 0 0 0 80px;
}

.mechanic-appointment-section h4{
    padding: 5px;
}

.mechanic-appointment-section .card:hover{
    background-color: antiquewhite;
}