.heading{
    background-color: #6887F3;
}

.form-section .container{
    justify-content: center;
}

.reg-btn:hover{
    cursor: pointer;
}

.success-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.register-mechanic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}