.services-section .card{
    width: 100%;
    padding: 30px;
}

.service-details{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #888888;
    margin: 10px;
}
.manage-service{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.add-service-btn{
    color: white;
    padding: 10px;
    width: 150px;
    margin: 10px;
    text-decoration: none;
}

.service-list{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    background-color: #888888;
    width: 100%;
}

.delete-btn{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: red;
}

.edit-btn{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.approved-appointments-section .card{
    width: 100%;
    padding: 30px;
}
.approved-appointments-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.declined-appointments-section .card{
    width: 100%;
    padding: 30px;
}

.declined-appointments-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
