.tasks-section .task-title{
    margin: 0 0 0 80px;
}

.tasks-section .container{
    justify-content: space-between;
}

.tasks-section .card{
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    justify-content: flex-end;
}

.tasks-section h1, p{
    padding: 5px;
}

.tasks-section .card:hover{
    background-color: antiquewhite;
}