<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/shared/shared.css}" rel="stylesheet">
    <link th:href="@{/css/admin-styles/admin-style.css}" rel="stylesheet">
</head>
<body>
<header class="heading">
    <nav class="nav">
        <ul class="navbar">
            <li class="navbar-title"><a th:href="@{/}">Mechanic Finder</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>

        </ul>

    </nav>

</header>
<setion class="report-section">
    <div class="container">
        <h3>Generate mechanics based on date</h3>
        <div class="card">
            <form class="generate-pending" th:action="@{/api/reports/pending}" method="post">
                <div class="document-date form-control">
                    <strong>
                        <label>Date</label>
                    </strong>
                    <input type="date" required th:name="startTime">

                </div>
                <div class="document-type">
                    <strong>
                        <label>Report type</label>
                    </strong>
                    <select th:name="fileFormat">
                        <option th:value="pdf" th:text="pdf"></option>

                    </select>
                </div>
                <div class="document-btn">
                    <input type="submit" class="btn btn-primary" value="generate pdf document">
                </div>
            </form>

        </div>

    </div>

</setion>
<section class="pending-applications-section">
    <div class="container">
        <h3>Pending applications</h3>
        <div class="card">
            <div class="pending-details" th:each="mechanic: ${mechanics}" th:if="${mechanic.getApplicationStatus().equals('PENDING')}">
                    <div class="pending-list" >
                        <div>
                            <p th:text="${mechanic.firstName+' '+mechanic.lastName}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.phoneNumber}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.email}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.location}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.applicationStatus}"></p>
                        </div>
                        <div>
                            <a class="btn btn-primary" th:href="@{${mechanic.getQualificationDocumentPath()}}" th:target="_blank">view certification</a>
                        </div>
                        <div>
                            <a class="btn btn-primary" th:href="@{${'/api/admin/approve/'+mechanic.id}}">Approve</a>
                        </div>
                        <div>
                            <a class="btn btn-primary decline-btn" th:href="@{${'/api/admin/decline/'+mechanic.id}}"
                               onclick="if(! confirm('Are you sure !')) return false">Decline </a>
                        </div>


                    </div>
                </div>

        </div>

    </div>

</section>
<section class="approved-applications-section">
    <div class="container">
        <h1>Approved applications</h1>
        <div class="card">
            <div class="approved-details" th:each="mechanic : ${mechanics}" th:if="${mechanic.getApplicationStatus().equals('MEMBER')}">
                <div class="approved-list">
                        <div>
                            <p th:text="${mechanic.firstName+' '+mechanic.lastName}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.phoneNumber}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.email}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.location}"></p>
                        </div>
                        <div>
                            <a th:href="@{#}" class="btn btn-primary" th:text="${mechanic.applicationStatus}"></a>
                        </div>

                </div>
            </div>


        </div>

    </div>

</section>
<section class="declined-applications-section">
    <div class="container">
        <h3>Declined applications</h3>
        <div class="card">
            <div class="declined-details" th:each="mechanic : ${mechanics}" th:if="${mechanic.getApplicationStatus().equals('DECLINED')}">
                <div class="declined-list">
                        <div>
                            <p th:text="${mechanic.firstName+' '+mechanic.lastName}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.phoneNumber}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.email}"></p>
                        </div>
                        <div>
                            <p th:text="${mechanic.location}"></p>
                        </div>
                        <div>
                            <a th:href="@{#}" class="btn btn-primary" th:text="${mechanic.applicationStatus}"></a>
                        </div>

                </div>
            </div>

        </div>
    </div>

</section>

</body>
</html>