<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Customer</title>
  <link th:href="@{/css/shared/shared.css}" rel="stylesheet">
  <link th:href="@{/css/customer-styles/customer-reg-form.css}" rel="stylesheet">
</head>
<body>
<header class="heading">
  <nav class="nav">
    <ul class="navbar">
      <li class="navbar-title"><a th:href="@{/}">Mechanic Finder</a></li>
      <li><a th:href="@{/api/task/all}">Services</a></li>
      <li><a th:href="@{/login-page}">Login</a></li>

    </ul>

  </nav>

</header>
<section class="customer-form-section">
  <div class="container">
    <div class="card">
      <h1>Update Customer details</h1>
      <form th:action="@{${'/api/customer/process-update-customer/'+appUser.id}}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{profileImage}">
        <input type="hidden">
        <div class="form-control">
          <label for="firstName">First name</label>
          <input type="text" th:field="*{firstName}" id="firstName">
          <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">

        </div>
        <div class="form-control">
          <label for="lastName">Last name</label>
          <input type="text" th:field="*{lastName}" id="lastName">
          <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">

        </div>
        <div class="form-control">
          <label for="phoneNumber">Phone number</label>
          <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
          <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error" th:errors="*{phoneNumber}">

        </div>
        <div class="form-control">
          <label for="email">email</label>
          <input type="text" th:field="*{email}" id="email">
          <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">

        </div>
        <div class="signup-btn">
          <div>
            <input type="submit" class="btn btn-primary" value="update account">
          </div>
        </div>

      </form>

    </div>

  </div>

</section>

</body>
</html>