<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mechanic ViewPort</title>
    <link th:href="@{/css/shared/shared.css}" rel="stylesheet">
    <link th:href="@{/css/mechanic-styles/mechanic-viewport.css}" rel="stylesheet">
</head>
<body>
<header class="heading">
    <nav class="nav">
        <ul class="navbar">
            <li class="navbar-title"><a th:href="@{/}">Mechanic Finder</a></li>
            <li><a th:href="@{/api/task/all}">services</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>

        </ul>

    </nav>

</header>
<section class="profile-section">
    <div class="container">
        <div class="card">
          <div class="account">
              <div class="profile-details">
                  <div class="profile-image">
                      <img th:src="@{${mechanic.getProfileImagePath()}}" alt="profile image">
                  </div>
                  <h4 th:text="${mechanic.firstName+ ' '+ mechanic.lastName}"></h4>
                  <h4 th:text="${mechanic.phoneNumber}"></h4>
                  <h4 th:text="${mechanic.email}"></h4>
                  <h4 th:text="${mechanic.applicationStatus}"
                      style="background-color: lightgray; padding: 10px; border-radius: 10px"></h4>

              </div>
              <div class="manage-account">
                  <div>
                      <a class="btn btn-primary" th:href="@{${'/api/mechanic/edit-mechanic/'+mechanic.id}}">edit  account</a>
                  </div>
                  <div>
                      <a class="btn delete-btn"
                         th:href="@{${'/api/mechanic/delete-mechanic/'+mechanic.id}}"
                         onclick="if (! confirm('Are you sure !')) return false">delete account</a>
                  </div>

              </div>
          </div>

        </div>

    </div>

</section>
<section class="services-section">
    <div class="container">
        <h4>My services</h4>
        <div class="card">
            <div class="manage-service">
                <div>
                    <a  class="btn add-service-btn" th:href="@{${'/api/task/task-form/'+mechanic.id}}">create a new service</a>
                </div>
                <div>
                    <a class="btn add-service-btn" th:href="@{${'/api/task/task-add-form/'+mechanic.id}}">add existing service</a>
                </div>

            </div>
            <div class="service-details"  th:each="task : ${mechanic.getTasks()}">
                <div class="service-list">
                    <div class="service-id">
                        <p th:text="${task.id}"></p>

                    </div>
                    <div class="task-name">
                        <p th:text="${task.taskName}"></p>
                    </div>
                    <div class="task-description">
                        <p th:text="${task.description}"></p>
                    </div>
                    <div class="hourly-payment">
                        <p th:text="${task.hourlyPaymentRate+' /hr'}"></p>
                    </div>

                    <div class="edit">
                        <a  class="btn edit-btn" th:href="@{${'/api/task/edit/'+task.id}}">Edit service</a>
                    </div>
                    |
                    <div class="delete">
                        <a class="btn delete-btn" th:href="@{${'/api/task/delete/'+task.id}}"
                        onclick="if (! confirm('Are you sure !')) return false">Delete service</a>
                    </div>

                </div>



            </div>


        </div>

    </div>

</section>
<section class="appointment-section">
    <div class="container">
        <h4>Pending appointments</h4>
        <div class="card">
                <div class="appointment-list" th:each="appointment : ${mechanic.getAppointments()}" th:if="${appointment.getAppointmentStatus().equals('PENDING')}">
                    <div>
                        <a th:href="@{#}" class="btn btn-primary status-btn" th:text="${appointment.getAppointmentStatus()}"></a>
                    </div>

                    <div class="appointment-customer">
                        <p th:text="${appointment.getCustomer().getFirstName()}"></p>

                    </div>

                    <div class="appointment-service">
                        <p th:text="${appointment.getTask().getTaskName()}"></p>

                    </div>

                    <div class="start-time">
                        <p th:text="${appointment.startTime}"></p>

                    </div>

                    <div class="ent-time">
                        <p th:text="${appointment.endTime}"></p>

                    </div>
                    <div class="hourly-payment">
                        <p th:text="${'Kshs '+appointment.getTask().getHourlyPaymentRate()+'/hr'}"></p>

                    </div>
                    <div class="cost-incurred">
                        <p th:text="${'Total: Kshs '+appointment.appointTotalCost()}"></p>
                    </div>

                    <div class="approve">
                        <a th:href="@{${'/api/mechanic/approve/'+appointment.id}}" class="btn btn-primary">Approve appointment</a>

                    </div>

                    <div class="decline">
                        <a th:href="@{${'/api/mechanic/decline/'+appointment.id}}" class="btn btn-primary decline-btn"
                        onclick="if (! confirm('Are you sure !')) return false">Decline appointment</a>

                    </div>

                </div>

        </div>

    </div>

</section>
<section class="approved-appointments-section">
    <div class="container">
        <h4>Approved appointments</h4>
        <div class="card">
            <div class="approved-appointments-list" th:each="appointment: ${mechanic.getAppointments()}" th:if="${appointment.getAppointmentStatus().equals('APPROVED')}">
                <div>
                    <a th:href="@{#}" class="btn btn-primary status-btn" th:text="${appointment.getAppointmentStatus()}"></a>
                </div>
                <div>
                    <p th:text="${'Service: '+appointment.getTask().getTaskName()}"></p>

                </div>
                <div>
                    <p th:text="${'From: '+appointment.getStartTime()}"></p>
                </div>
                <div>
                    <p th:text="${'To: '+appointment.getEndTime()}"></p>
                </div>
                <div>
                    <p th:text="${'Kshs '+appointment.getTask().getHourlyPaymentRate()+' /hr'}"></p>
                </div>
                <div class="cost-incurred">
                    <p th:text="${'Total: Kshs '+appointment.appointTotalCost()}"></p>
                </div>

            </div>

        </div>

    </div>

</section>
<section class="declined-appointments-section">
    <div class="container">
        <h4>Declined appointments</h4>
        <div class="card">
            <div class="declined-appointments-list" th:each="appointment: ${mechanic.getAppointments()}" th:if="${appointment.getAppointmentStatus().equals('DECLINED')}">
                <div>
                    <a th:href="@{#}" class="btn btn-primary status-btn" th:text="${appointment.getAppointmentStatus()}"></a>
                </div>
                <div>
                    <p th:text="${'Service: '+appointment.getTask().getTaskName()}"></p>

                </div>
                <div>
                    <p th:text="${appointment.getCustomer().getPhoneNumber()}"></p>
                </div>
                <div>
                    <p th:text="${'From: '+appointment.getStartTime()}"></p>
                </div>
                <div>
                    <p th:text="${'To: '+appointment.getEndTime()}"></p>
                </div>
                <div>
                    <p th:text="${'Kshs '+appointment.getTask().getHourlyPaymentRate()+' /hr'}"></p>
                </div>
                <div class="cost-incurred">
                    <p th:text="${'Total: Kshs '+appointment.appointTotalCost()}"></p>
                </div>

            </div>

        </div>

    </div>

</section>
</body>
</html>